.body{
    display: grid;
    grid-template-columns: 1fr ;
    max-width: 500px;
    max-height: 300px;
    min-width: 100%;
    color: black;
}
p1{
    display: block;
    align-self: CENTER;
    max-width: 100%;
    text-align: center;
    padding-top: 20px;
}
p2{
    display: block;
    align-self: CENTER;
    max-width: 100%;
    text-align: center;
    padding-top: 20px;
}
p3{
    display: block;
    text-align: center;
    align-self: CENTER;
    max-width: 100%;
    
}
.bridge{
    min-width: 100%;
}

div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: navy;
    color: aliceblue;
    
}
a1{
    padding-top: 30px;
    padding-bottom: 30px;
}
a2{
    padding-top: 30px;
    padding-bottom: 30px;
}
a3{
    padding-top: 30px;
    padding-bottom: 30px;
}